#### Question 1

In [3]:
#1a
list1 = ["apple", "orange", "banana"]
print (list1)

['apple', 'orange', 'banana']

In [4]:
#1b
list1.append("tomato")
print (list1)

['apple', 'orange', 'banana', 'tomato']

In [5]:
#1c
del list1[0]
print (list1)

['orange', 'banana', 'tomato']

#### Question 2

In [12]:
#2a
subjects = ("physics", "chemistry", "english", "math", "biology")
type(subjects)

tuple

In [13]:
#2b
subjects.append("literature")
print (subjects)
#tuples are immutable, they do not have the built in append().

AttributeError: 'tuple' object has no attribute 'append'

In [21]:
#2b convert tuple to list
tuplelist = list(subjects)
tuplelist.append("literature")
print (tuplelist)

['physics', 'chemistry', 'english', 'math', 'biology', 'literature']

In [22]:
#convert list back to tuple
new_tuple = tuple(tuplelist)
print (new_tuple)
type(new_tuple)

('physics', 'chemistry', 'english', 'math', 'biology', 'literature')

tuple

In [28]:
#2c counting no,of elements
length_of_newtuple = len(new_tuple)
print(length_of_newtuple)

6

#### Question 3

In [33]:
#3a create list with values
students_id = [10, 6, 7, 8, 9, 3]
print (students_id)
type(students_id)

[10, 6, 7, 8, 9, 3]

list

In [35]:
#3b sort in descending order
students_id.reverse()
print(students_id)

[10, 6, 7, 8, 9, 3]

In [36]:
#3c clear/remove all elements
students_id.clear()
print (students_id)

[]

#### Question 4

In [1]:
#4 list start from 15, ends 1, step of -3
desc_list = list(range(15, 1, -3))
print (desc_list)

[15, 12, 9, 6, 3]

#### Question 5

In [74]:
#5
asc_list = [2 + 2 * i for i in range(14)]
print (asc_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

#### Question 6

In [83]:
#6 
combined_list = desc_list + asc_list
print (combined_list)

# Function to separate odd and even numbers
even_numbers, odd_numbers = separate_odd_even (combined_list)
def separate_odd_even(combined_list):
    even_numbers = [num for num in combined_list if num % 2 == 0]
    odd_numbers = [num for num in combined_list if num % 2 != 0]
    return even_numbers, odd_numbers 

sorted_even_numbers = sorted(even_numbers)
sorted_odd_numbers = sorted(odd_numbers)

print ("Even numbers:", sorted_even_numbers)
print ("Odd numbers:", sorted_odd_numbers)

[15, 12, 9, 6, 3, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
Even numbers: [2, 4, 6, 6, 8, 10, 12, 12, 14, 16, 18, 20, 22, 24, 26, 28]
Odd numbers: [3, 9, 15]

#### Question 7

In [ ]:
#7
def circle_properties()

#### Question 8